{% extends 'home_page.html' %}

{% block nav %}
    <!-- Navigation Bar -->
    {% include 'main_nav_snippet.html' %}
    <!-- End Navigation Bar -->
{% endblock %}

{% block content %}
    <!-- Profile Information -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="d-flex">
                <div class="d-inline p-2 w-50">
                    <img src="{{ user.profile.picture.url }}"
                         class="w-50 rounded mx-auto d-block" alt="description">
                </div>
                <div class="d-inline p-2 w-50">
                    <div class="d-flex flex-column">
                        <h5><u>Name:</u> {{ user.username }} {{ user.last_name }}</h5>
                        <!-- If Date of Birth complete the logic also !! -->
                        {% if user.profile.birth %}
                            <h5><u>Birthdate:</u> {{ user.profile.birth }}</h5>
                        {% endif %}
                        <!-- If Email -->
                        {% if user.email %}
                            <h5><u>Email:</u> {{ user.email }}</h5>
                        {% endif %}
                        <!-- If Gender is Chosen -->
                        {% if user.profile.gender %}
                            <h5><u>Gender:</u> {{ user.profile.gender }}</h5>
                        {% endif %}
                        <!-- If Description -->
                        {% if user.profile.description %}
                            <h5><u>Description:</u> {{ user.profile.description }}</h5>
                        {% endif %}
                    </div>
                    <p class="mt-2">Total Images: {{ photos_count }}</p>
                    <p class="mt-2">Total Likes: {{ photos_likes }}</p>
                    <a href="{% url 'edit profile' %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete profile' %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Profile Information -->

    <!-- Pets Information -->
    <h2 class="text-center">My Pets</h2>
    <div class="container mb-4">
        <div class="d-flex justify-content-start mb-5">
            {% for pet in user_pets %}
                <div style="width: 18rem;">
                    <h5>{{ pet.name }}</h5>
                    {% if pet.date_of_birth %}
                        <p class="mt-2">Age: {{ pet.age }}</p>
                    {% endif %}
                    <a href="{% url 'edit pet' pet.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete pet' pet.id %}" class="btn btn-danger">Delete</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}